---
import ProjectCard from "@components/project/ProjectCard.astro";
import SpriteAnimator from "@components/animation/SpriteAnimator.astro";
import YellowLoafSpriteSheet from "@assets/sprites/yellow-loaf.png";

import { getCollection } from "astro:content";
const projectEntries = await getCollection("project");

const { ...props } = Astro.props;
---

<section {...props} class="my-20">
  <div class="container">
    <div class="flex w-full flex-row flex-wrap items-center">
      <h2 class:list={["text-5xl", "md:text-6xl"]}>What have I done lately?</h2>
      <SpriteAnimator
        slot="sprite"
        src={YellowLoafSpriteSheet}
        totalFrames={4}
      />
    </div>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        projectEntries
          .sort(
            (entry1, entry2) =>
              entry2.data.date.getTime() - entry1.data.date.getTime()
          )
          .map((entry) => {
            return (
              <ProjectCard
                img={entry.data.cover}
                title={entry.data.title}
                description={entry.data.summary}
                slug={entry.slug}
              />
            );
          })
      }
    </div>
  </div>
</section>
